body {
    background-color: black;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

#vidHeadContainer, #footerContainer {
    width: 100%;
    overflow: hidden;
}

#vidHeadContainer {
    transform-origin: top;
    
}

#vidHead {
    width: 100%;
    position: relative;
    top: -25%;
    opacity: 70%;
}

#footer {
    width: 100%;
    position: relative;
    top: -25%;
}

#footerContainer {
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
}

#headerText {
    color: white;
    position: absolute;
    top: 33%;
    width: 100%;
    text-align: center;
    z-index: 1;
    font-size: 1.8em;
}

#blackLayer {
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#gradientLayer {
    background: linear-gradient(rgba(0, 0, 0, 0.25), transparent);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(auto, 1fr);
    grid-gap: 10px;
    overflow-y: scroll;
    height: 100vh;
}

h1,h2,h3,h4,h5,a,p{
    font-family: Arial, Helvetica, sans-serif;  
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cdcaca;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: white;
}

.grid-item:hover > .animation{
    opacity: 1;
}

.grid-item:hover > .description{
    opacity: 0;
}

.animation{
    opacity: 0;
    position: absolute;
}

.description{
    opacity: 1;
    position: absolute;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 680px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

#footerImg {
    transition: transform 0.3s ease;
}

.info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.grid-item:hover .info {
    display: none;
}

#txtNumero {
    font-family: 'Helvetica';
    font-weight: 900;
    font-size: calc(100vh / 8);
    color: #ffffff;
}

#txtNom {
    font-family: 'Helvetica';
    font-weight: 500;
    font-size: calc((100vh / 8) / 4);
    color: #ffffff;
}


#txtDescription {
    font-family: 'Helvetica';
    font-weight: 60;
    font-size: calc((100vh / 8) / 4);
    color: #ffffff;
}
